.DS_Store
node_modules
package-lock.json

*.tgz
*.log

dist
test/*.js

# ESLint
/.eslintcache

# Jest
/coverage

# TypeDoc
/docs

# yarn v3 (w/o zero-install)
# See: https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions